.modal {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    position: absolute;
    bottom: 0;
    left:0;

    padding: 1em;
    color: var(--brown);
    font-weight: 600;
    background-color: var(--tspt-brown);
    z-index: 10000;
}

.modal .modal-content {
    position: absolute;
    font-size: var(--font-M);
    width: 20%;
    height: 50%;
    z-index: 10001;
}

/* POSITION */
.modal.right {
    justify-content: end;
}
.modal.center {
    justify-content: center;
}
.modal.left {
    justify-content: start;
}

/* TYPE */
/* round */
.modal.round .blob {
    height: 81vh;
    width: 30em;
    border-radius: 100em;
}

.modal.round .modal-content {
    height: 81vh;
    width: 23em;
    border-radius: 10em;
}

/* horizontal */
.modal.horizontal .blob {
    height: 75%;
    width: 50em;
    border-radius: 15em;
}

.modal.horizontal .modal-content {
    height: 70%;
    width: 38em;
    border-radius: 15em;
}

/* vertical */
.modal.vertical .blob {
    height: 95vh;
    width: 30em;
    border-radius: 11em;
}

.modal.vertical .modal-content {
    height: 95vh;
    width: 23em;
    border-radius: 11em;
    border: 2px solid red;
}