#page-select {
    width: 100%;

    position: absolute;
    bottom: -0.6em;
    right: 0.7em;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5em;
}

.page-button {
    width: 0.7em;
    height: 0.7em;

    background-color: var(--beige3);
    border-radius: var(--border-radius-XL);
    cursor: pointer;
}

.page-button.selected {
    width: 1.2em;
    height: 1.2em;

    border: 5px solid var(--beige3);
}

#page-select.green .page-button.selected {
    border-color: var(--green);
}

#page-select.light-blue .page-button.selected {
    border-color: var(--light-blue);
}

#page-select.dark-blue .page-button.selected {
    border-color: var(--dark-blue);
}