#critter-list-container {
    width: max-content;
    position: relative;
    margin: 0 auto;
}

#critter-list {
    padding: 0;

    display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(4, 1fr);

    border: 1px solid var(--beige2);
    border-radius: var(--border-radius-S);
}

#critter-list .critter:first-child {
    border-top-left-radius: var(--border-radius-S);
}

#critter-list .critter:last-child {
    border-bottom-right-radius: var(--border-radius-S);
}

#critter-list .critter:nth-child(10) {
    border-top-right-radius: var(--border-radius-S);
}

#critter-list .critter:nth-child(31) {
    border-bottom-left-radius: var(--border-radius-S);
}

.critter {
    list-style: none;
    width: 6.5em;
    height: 6.5em;

    border: 1px solid var(--beige2);
    cursor: pointer;

    transition: border 0.1s;
}

.critter:not(.available) img {
    filter: brightness(0) saturate(100%) invert(96%) sepia(48%) saturate(563%) hue-rotate(327deg) brightness(88%) contrast(84%);
}

.critter:not(.available).in-season img {
    filter: brightness(0) saturate(100%) invert(61%) sepia(29%) saturate(308%) hue-rotate(7deg) brightness(91%) contrast(83%);
}

#critter-list.green .critter.selected {
    border: 3px solid var(--green);
}

#critter-list.light-blue .critter.selected {
    border: 3px solid var(--light-blue);
}

#critter-list.dark-blue .critter.selected {
    border: 3px solid var(--dark-blue);
}
